.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
        -
            var menuData = {
                "Пункт 1" : "test",
                "Пункт 2" : "#"
            }
        each name, index in menuData
            li.nav-item
                if(name == '#')
                    a.nav-link(href=name)= index
                else
                    a.nav-link(href=name + ".html")= index