nav.menu.mb-6
    .container
        //- Hamburger
        include ../hamburger/hamburger

        //- Menu list
        ul.menu__list.nav
            each item in menuData
                li.nav-item
                    a.nav-link(href= item.link)
                        = item.text
