.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-arrow-left {    
    width:(24/24)*1em;
}
.icon-arrow-up {    
    width:(32/32)*1em;
}
.icon-search {    
    width:(250.31/250.31)*1em;
}
