// Font
$font-family-base: "Roboto", sans-serif;

// Colors
$white: #fff;
$black: #000;
$d_gray: #1c1c1c;
$l_gray: #c8c8c8;
$blue: #435993;

// Grid containers
$container-max-widths: (
	smm: 445px,
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1170px
);

// Links
//$link-color: $blue;
