include ../mixins/pug/svg-icon
block variables

doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name="theme-color" content="#168dd3")
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        title #{title}

        link(rel='stylesheet', href='./css/styles.min.css')

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body(class=pageClass)
        .wrapper

            .main-wrap__content
                //- Include header
                include ../components/header/header

                block top-position

                .container.main-container
                    if(pageClass != 'homepage')
                        //- Breadcrumbs
                        nav.breadcrumbs
                            ul.breadcrumbs__list
                                li
                                    a(href="#") Главная
                                    span.divider /
                                li.breadcrumbs--active #{title}

                    .row.content
                        block columns

                block bottom-position

            //- Include footer
            include ../components/footer/footer

        //- Callback form
        #callback.zoom-anim-dialog.mfp-hide.white-block
            //- Include callback
            include ../components/callback/callback

        .d-none
            include ../../dist/images/sprite.svg

        a.go-top(href='#', style='display:none;')
            +icon('arrow-up')

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='./js/scripts.js')

        block script
